.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: 'Jua', sans-serif;
  padding: 200px 30px 10px;
  font-size: 100px;
  z-index: 10;
}

.coloredBg {
  color: #ffffff00;
  -webkit-text-stroke: 2px #ffffff;
  background-color: #6bedd4;
}

.logo-group {
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-ac-extend-text {
  font-size: 0px;
}

.logo-spliter {
  width: 100%;
  height: 0%;
  background-color: #ffffff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 50;

  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}
