.background {
  position: absolute;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg);
  background-size: cover;
  filter: brightness(0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.intro {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.intro-group {
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 51%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.intro-text {
  color: #ffffff00;
  -webkit-text-stroke: 2px #FFA5CE;
  opacity: 0;
}

.intro-top-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent #FFA5CE;
}

.scroll-noti {
  text-align: center;
  font-size: 30px;
  font-family: 'Jua', sans-serif;
  color: #FFA5CE;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
}
