<div class="branding bg coloredBg">
    <div class="logo-group">
        <span class="logo-ac-text logo-ac-accent">T</span>
        <span class="logo-ac-text logo-ac-accent">r</span>
        <span class="logo-ac-text logo-ac-accent">i</span>
        <span class="logo-ac-text logo-ac-extend-text">t</span>
        <span class="logo-ac-text logo-ac-extend-text">i</span>
        <span class="logo-ac-text logo-ac-extend-text">u</span>
        <span class="logo-ac-text logo-ac-extend-text">m</span>
        <span class="logo-ac-text logo-ac-extend-text">&nbsp;</span>
        <span class="logo-ac-text logo-ac-accent">N</span>
        <span class="logo-ac-text logo-ac-accent">e</span>
        <span class="logo-ac-text logo-ac-accent">t</span>
        <span class="logo-ac-text logo-ac-extend-text">w</span>
        <span class="logo-ac-text logo-ac-extend-text">o</span>
        <span class="logo-ac-text logo-ac-extend-text">r</span>
        <span class="logo-ac-text logo-ac-extend-text">k</span>
        <span class="logo-ac-text logo-ac-extend-text">s</span>
    </div>
    <div class="logo-spliter"></div>
</div>
