<div class="intro">
    <div class="intro-group">
      <span class="intro-text">T</span>
      <span class="intro-text">r</span>
      <span class="intro-text">i</span>
      <span class="intro-text">a</span>
      <span class="intro-text">n</span>
      <span class="intro-text">g</span>
      <span class="intro-text">l</span>
      <span class="intro-text">e</span>
      <span class="intro-text">s</span>
      <span class="intro-text intro-top-triangle"></span>
    </div>
</div>
